[submodule "fateboard"]
	path = fateboard
	url = https://github.com/FederatedAI/FATE-Board.git
	branch = v1.3.0
[submodule "eggroll_1x"]
	path = eggroll_1x
	url = https://github.com/WeBankFinTech/eggroll.git
	branch = v1.1.4
[submodule "eggroll_2x"]
	path = eggroll_2x
	url = https://github.com/WeBankFinTech/eggroll.git
	branch = v2.x